<ion-header>
  <ion-item lines="none">
    <ion-label>Welcome!</ion-label>
    <ion-icon name="person-circle-outline" slot="end"></ion-icon>
  </ion-item>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-margin-bottom">
      <ion-col>
        <h1>Get ready for <br> your lifetime <br> journey!</h1>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-top">
      <ion-col>
        @for (product of products; track product.id) {
        <img src="{{product.image}}" />
        }
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>