<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="search-outline"></ion-icon>
      Search
    </ion-tab-button>
    <ion-tab-button tab="orders">
      <ion-icon name="bag-outline"></ion-icon>
      Orders
    </ion-tab-button>
    <ion-tab-button tab="wallet">
      <ion-icon name="card-outline"></ion-icon>
      Wallet
    </ion-tab-button>
    <ion-tab-button tab="menu">
      <ion-icon name="menu-outline"></ion-icon>
      Menu
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>